.sterling-inline-fg {
  align-items: baseline !important;
  justify-content: space-between !important;
  .bp3-form-content {
    margin-right: 1em;
  }
  .bp3-label {
    line-height: 1.5em !important;
    margin: 0 !important;
  }
  .bp3-form-helper-text {
    margin: 0 !important;
    line-height: 1em !important;
  }
}
