@import '~@blueprintjs/core/lib/scss/variables';
@import 'variables';

.sterling-view {

  display: flex;
  width: 100%;
  height: 100%;

  .sidebar {

    flex: 1 1 auto;
    height: 100%;
    min-width: $sidebar-min-width;
    max-width: $sidebar-max-width;
    border-right: 1px solid rgba($black, $pt-dark-drop-shadow-opacity);

    .bp3-navbar {
      box-shadow: none;
      border-bottom: 1px solid rgba($black, $pt-dark-drop-shadow-opacity);
    }

  }

  .stage {

    flex: 1;
    height: 100%;
    border-radius: 0;

    svg {
      width: 100%;
      height: 100%;
    }

  }

}
